.header {
    background-color: #333333;
    color: #d0d5d4;
    font-size: xx-large;
    text-indent: 5px;
    padding: 20px;
}

.catalogo-flex {
    display: flex; 

    gap: 15px; 
    padding: 10px 10px;
}

.imagen-item {
    max-width: 300px;
    min-width: 250px;
    border: 3px solid #525252;
    display: flex;
}

.imagen-item img {
    width: 40%;
}

.info-content {
    display: flex;
    flex-direction: column;

}

.info-content p {
    padding: 5px;
}

.info-content h2 {
    background-color: #979797;
    text-align: center;
    padding: 30px;
}