.nav {
    background-color: #008080;
    height: 40px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 0 10px;
}

.boton {
    border-radius: 10px;
    border: none;
    width: 50px;
}