.header {
    background-color: #333333;
    color: #d0d5d4;
    font-size: xx-large;
    text-indent: 5px;
    padding: 20px;
}

.catalogo-flex {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 10px 10px;
}

.imagen-item {
    max-width: 200px;
    min-width: 180px;
    border: 3px solid #525252;
    display: flex;
    flex-direction: column;
}

.info-content {
    text-align: left;
    flex-grow: 1;
}

.info-content p {
    padding: 5px;
}

.info-content h2 {
    background-color: #979797;
    text-align: center;
}