
// Variables de colores
$grey: #555;
$header-background: $grey;
$link-normal: #000;
$link-visited: #00f;
$link-active: #0f0;
$link-hover: #f00;
$white: #fff;

// Elementos de la cabecera
.header {
    background-color: $header-background;
}

// Tamaños para los iconos
$sizes : (
    40px,
    80px,
    160px
);

//Breakpoints para la página
$breakpoints : (
    "pequeño": 576px,
    "medio": 768px,
    "grande": 992px
);

// Interpolación en selectores
$button-type: "error";
$btn-color: #f00;

.btn-#{$button-type} {
    background-color: $btn-color;
}

// Interpolación en uso de funciones

$fondo : "img/fondos/default.png";

.container {
    background-image: url('#{$fondo}');
}

// Interpolación en comentarios
$autor: "Yo";

/*
    Web desarrollada por #{$autor}

*/


// Anidamiento básico
a {
    color: $link-normal;
    text-decoration: none;
    &:hover {
        color: $link-hover;
    }
    &:visited {
        color: $link-visited;
    }
    &:active {
        color: $link-active;
    }
}