@import "tailwindcss";

@theme {
  --color-mio: oklch(69.37% 0.066 82.29);
}

/* Botones sociales */
.social-button {
  @apply p-2 size-10
         flex items-center justify-center
         rounded-full
         hover:scale-110
         transition-transform;
}

/* Cards de lenguajes */
.card {
  @apply relative rounded-2xl p-6 min-h-[120px]
         bg-gradient-to-br
         text-white font-bold text-lg
         flex items-end
         hover:scale-105 transition-transform;
}
